@use '/src/styles/constants/colors';

.wrapper {
  label {
    display: flex;
  }

  input[type='radio']:checked + .itemCard {
    background-color: colors.$GRAYE;
  }

  .itemCard {
    display: flex;
    align-items: center;
    width: 600px;
    height: 30px;
    padding: 20px;
    font-size: 16px;
    user-select: none;
    background-color: colors.$WHITE;

    &:hover {
      background-color: colors.$GRAYE;
    }
  }
}
