@use '/src/styles/mixins/responsive';

.btnBox {
  display: flex;
  justify-content: end;
  width: 600px;
  margin-bottom: 20px;

  .icon {
    width: 30px;
    height: 30px;
  }
}

@include responsive.mobileOnly {
  .btnBox {
    width: 100%;
  }
}
