@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/position';

.form {
  display: flex;
  justify-content: center;
  width: 100%;

  .searchBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 15px;
    overflow: hidden;
    background-color: colors.$WHITE;
    border-bottom: 1.5px solid colors.$BLUE;

    .icon {
      width: 30px;
      height: 30px;
    }

    input[type='search'] {
      width: 100%;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;

      &::placeholder {
        color: colors.$GRAYD;
      }
    }

    button {
      @include flexbox.flexbox(center, center);
    }
  }
}
