@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.humanscape {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: calc(100vh - 120px);
  background-color: colors.$HUMANS_BG;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    margin-bottom: 20px;

    h1 {
      width: 400px;
      font-size: 2.125rem;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      letter-spacing: -0.018em;
      white-space: pre-wrap;
      @media screen and (max-width: 1040px) {
        width: 220px;
        margin-bottom: 20px;
        font-size: 1.25rem;
        text-align: center;
      }
    }
  }

  section {
    display: flex;
    justify-content: center;
  }

  .searchBox {
    display: flex;
    align-items: center;
    width: 660px;
    height: 65px;
    padding: 20px 0 20px 24px;
    overflow: hidden;
    background-color: colors.$WHITE;
    border-radius: 42px;
    @media screen and (max-width: 1040px) {
      width: 100%;
      height: 45px;
    }

    svg {
      width: 20px;
      height: 20px;
      padding-top: 2px;
      margin-right: 15px;
    }

    input {
      width: 100%;
      font-size: 18px;
      letter-spacing: 0.7px;

      &::placeholder {
        color: colors.$HUMANS_GRAYB;
      }
    }

    .submitButton {
      @include flexbox.flexbox(center, center);
      width: 100px;
      height: 65px;
      font-size: 18px;
      font-weight: 700;
      color: colors.$WHITE;
      letter-spacing: 0.8px;
      background-color: colors.$BLUE;
    }
  }

  .resultBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 660px;
    max-height: auto;
    padding: 24px 0 16px;
    margin: 8px 0 0;
    overflow: hidden;
    background-color: colors.$WHITE;
    border-radius: 20px;

    .label {
      padding: 0 24px;
      font-size: 13px;
      line-height: 1.6;
      color: colors.$HUMANS_GRAYA;
      letter-spacing: -0.018em;
    }

    li {
      line-height: 0;
    }

    input[type='radio']:checked + .itemCard {
      background-color: colors.$GRAYE;
    }

    .itemCard {
      display: flex;
      align-items: center;
      width: 660px;
      height: 45px;
      padding: 0 20px;
      font-size: 16px;
      line-height: 45px;
      user-select: none;
      background-color: colors.$WHITE;

      &:hover {
        background-color: colors.$GRAYE;
      }

      svg {
        width: 16px;
        height: 16px;
      }

      p {
        margin-left: 12px;
      }
    }

    .loading {
      display: flex;
      align-items: center;
      width: 600px;
      height: 30px;
      padding: 20px;
      font-size: 16px;
      user-select: none;
      background-color: colors.$WHITE;
    }
  }
}
