@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.humanscapce {
  position: relative;
  width: 100vmax;
  height: 100vh;
  background-color: colors.$HUMANS_BG;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;

    h1 {
      padding: 10px 0;
    }
  }

  section {
    display: flex;
    justify-content: center;
  }

  .searchBox {
    display: flex;
    align-items: center;
    width: 600px;
    height: 60px;
    padding: 0 0 0 15px;
    overflow: hidden;
    background-color: colors.$WHITE;
    border-radius: 30px;

    svg {
      width: 30px;
      height: 30px;
    }

    input {
      width: 100%;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;

      &::placeholder {
        color: colors.$GRAYD;
      }
    }

    .submitButton {
      @include flexbox.flexbox(center,center);
      width: 100px;
      height: 60px;
      font-size: 18px;
      font-weight: 700;
      color: colors.$WHITE;
      background-color: colors.$BLUE;
    }
  }

  .resultBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    min-height: 40px;
    max-height: auto;
    padding: 10px 0;
    margin: 10px 0 0;
    overflow: hidden;
    background-color: colors.$WHITE;
    border-radius: 20px;

    .itemCard {
      display: flex;
      align-items: center;
      width: 600px;
      height: 30px;
      padding: 20px;
      font-size: 16px;
      user-select: none;
      background-color: colors.$WHITE;

      &:hover {
        background-color: colors.$GRAYE;
      }
    }

    .loading {
      display: flex;
      align-items: center;
      width: 600px;
      height: 30px;
      padding: 20px;
      font-size: 16px;
      user-select: none;
      background-color: colors.$WHITE;
    }
  }
}
