@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

svg {
  width: 30px;
  height: 30px;
}

.pcIcon {
  display: block;
}

.mobileIcon {
  display: none;
}

.input {
  width: 80%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;

  &::placeholder {
    color: colors.$GRAYD;
  }
}

@include responsive.mobileOnly {
  .pcIcon {
    display: none;
  }

  .mobileIcon {
    display: block;
  }

  .input {
    padding: 0;

    &::placeholder {
      color: colors.$GRAYD;
    }
  }
}
