@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.gnb {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1040px;
  height: 56px;
  margin: 0 auto;
  border-bottom: 1px solid colors.$GRAYE;

  ul {
    @include position.absolute(50% auto auto 20px);
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: colors.$HUMANS_LOGO;
    transform: translateY(-50%);

    svg {
      width: 23px;
      height: 23px;
      margin-right: 10px;
    }
  }

  .rightWing {
    @include position.absolute(50% 20px auto auto);
    transform: translateY(-50%);

    button {
      padding: 0 16px;
      margin-left: 20px;
      font-size: 16px;
      color: colors.$HUMANS_BLACK;
    }
  }
}
